body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1 {
    color: #f2f2f2;
    font-size: 4em;
    font-weight: 100;
    background-color: grey;
}

h2 {
    font-size: 2em;
}

header {
    background-color: #f2f2f2;
    padding: 1em;
    text-align: center;
}

header img {
    width: 25%;
}

.introduction {
    font-style: italic;
}

ul li {
    margin: 0 0 .5em 0;
}

ul ul {
    margin: .5em 0;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

img {
    width: 100%;
}

a {
    color: #0645ad;
}

footer {
    font-size: 1em;
    background-color: beige;
}